{ erl_opts, [debug_info] }.
{ deps, [
	{ 'slacker-rtm',	{ git, "git@github.com:wrren/slacker-rtm.git", 	{ branch, "master" } } },
	{ slacker,			{ git, "git@github.com:julienXX/slacker.git",	{ branch, "master" } } },
	{ cowboy,			{ git, "git@github.com:ninenines/cowboy.git", 	{ branch, "master" } } },
	{ want,				{ git, "git@github.com:wrren/want.erl.git",		{ branch, "master" } } }
] }.